<div id="analysis" class="tab-content">
            <h2 class="section-title"><i class="fas fa-chart-bar"></i> Análisis de Factores de Riesgo</h2>

            <div class="cards-container">
                <div class="info-card">
                    <h3>Factor Más Influyente</h3>
                    <p>Factores dietéticos inadecuados, como una alimentación alta en calorías y baja en nutrientes, pueden aumentar el riesgo de obesidad en un <strong>38%</strong>.</p>

                </div>
                <div class="info-card">
                    <h3>Factor Más Controlable</h3>
                    <p>Incrementar el consumo de vegetales de manera regular puede reducir el riesgo de obesidad en un <strong>20%</strong>.</p>
                </div>
                <div class="info-card">
                    <h3>Combinación Óptima</h3>
                    <p>3+ días de ejercicio y consumo diario de agua <strong>2L+</strong></p>
                </div>
            </div>

            <div class="chart-container">
                <h3>Impacto de Factores Controlables</h3>
                <canvas id="factorImpactChart"></canvas>
            </div>

            <div class="chart-container">
                <h3>Distribución de Riesgo por Factores</h3>
                <canvas id="riskDistributionChart"></canvas>
            </div>

            <div class="chart-container">
              <h3>Distribución proporcional por grupo de edad</h3>
              <label for="categoriaSelect"><strong>Selecciona una variable:</strong></label>
              <select id="categoriaSelect">
                <option value="Gender">Género</option>
                <option value="NObeyesdad">Tipo de obesidad</option>
                <option value="family_history_with_overweight">Historial Familiar</option>
                <option value="FAVC">Consumo Alimentos Altos en Calorias</option>
                <option value="CAEC">Consumo de alimentos entre comidas</option>
                <option value="CALC">Consumo Alcohol</option>
                <option value="MTRANS">Medio de Transporte</option>
                <option value="SMOKE">Fumar</option>
                <option value="SCC">Sedentarismo</option>
              </select>
              <canvas id="categoriaEdadChart"></canvas>
            </div>

        </div>
    </div>
