        <div id="evolucion" class="tab-content">
            <h2>Consultar Evolución</h2>
            {% if session.get('user_id') %}
    <!-- Aquí el contenido visible solo si el usuario está logueado -->
    <div id="variableSelection">
        <form id="variableForm">
            <label for="variable">Seleccione la variable:</label>
            <select id="variable" name="variable">
                <option value="prediction"> Niveles de Obesidad</option>
                <option value="imc">Índice de Masa Corporal (IMC)</option>
                <option value="Weight">Peso (kg)</option>
                <option value="Height">Altura (m)</option>
                <option value="CH2O">Consumo de Agua (Litros)</option>
                <option value="FAF">Frecuencia de Actividad Física (FAF)</option>
                <option value="TUE">Tiempo de Uso de Tecnologías (TUE)</option>
                <option value="CALC">Consumo de Alcohol (CALC)</option>
                <option value="CAEC">Alimentos entre Horas (CAEC)</option>
                <option value="MTRANS">Medio de Transporte (MTRANS)</option>
                <option value="NCP">Número de Comidas por Día (NCP)</option>
                <option value="FCVC">Frecuencia de Consumo de Verduras (FCVC)</option>
                <option value="SMOKE">Fuma (SMOKE)</option>
                <option value="FAVC">Alimentos ricos en calorías (FAVC)</option>
                <option value="SCC">Control de calorías (SCC)</option>
            </select>
            <button type="submit">Ver Gráficos</button>
        </form>
    </div>
{% else %}
    <p>Por favor, inicie sesión para consultar la evolución de los datos.</p>
{% endif %}

            <div class="evolucion-chart-container">
                <canvas id="evolucionChart"></canvas>
            </div>
        </div>